<!-- Modal for First Time -->
<% if @first_visit %>
  <%= content_tag "div", id: "firstSongNotificationModal", class: "reveal-modal medium", data: { first_visit: @first_visit, reveal: true } do %>
    <h2>Congratulations!</h2>
    <p>Your Playola Station is Now Broadcasting it's First Song:</p>
    <p><b> <%= current_schedule.now_playing.audio_block.title || 'Commercial' %></b></p>

    <p>by</p>

    <p><b> <%= current_schedule.now_playing.audio_block.artist || '' %></p></b>
    
    <div class="row">
      <div class="large-12 large-centered columns">

          <a href='#'class="button large close-reveal-modal">Continue</a>

      </div>
    </div>
    <% end %>
<% end %>
<!-- End Modal -->
<div class="mic-image-inverse">
  <div class="row top-row">

    <div class="container small-8 columns">

      <div class="small-12 columns">
        <fieldset id="friend-stations">
          <legend>Your Twitter Friends:</legend>

          <ul id="twitter-friends">

            <% twitter_friends_stations.each do |station| %>

              <li class="twitter-friend">
                <img class="twitter-pic" src="<%= station.user.profile_image_url %>" />

                <a href="/listens/<%= station.id %>"<span class="twitter-handle">@<%= station.user.twitter %></span></a>
                <span class="twitter-now-playing">
                  <span class="now-playing-label">Now Playing:</span>

                  <% if station.now_playing.audio_block.is_a?(PL::CommercialBlock) %>
                    <span class="now-playing-title"><b>Commercial Block</b></span>

                  <% else %>

                   <span class="now-playing-title"><%= station.now_playing.audio_block.title || 'Commercial Break' %></span>
                    <span class="now-playing-artist"><%= station.now_playing.audio_block.artist || '' %></span>
                  </span>

                <% end %>
              </li>
            <% end %> 



          </ul>
        </fieldset>
      </div>
    </div>
        
    <div class="small-4 columns">
      <fieldset id="catalog-fieldset">
      </fieldset>
    </div>

    </div>
  </div>
</div>












