<div class='mic-image-inverse'>
  <div class="row top-row">
    <h1 class="headline">Station Settings</h1>
    <p class="sub-headline"></p>
  </div>
  <div class="row">
    <div class="small-7 columns">
      <h4 class="small-headline">Your Songs</h4>
      <p class="sub-headline">These are the songs that will automatically play when you're not around.</p>
      <ul id="spinsPerWeekList">
        <% @spins_per_week.each do |spin| %>
          <li data-searchString= "<%= spin[0].title + ' ' + spin[0].artist %>" data-id="<%=spin[0].id%>">
            <span class="songlist-title"><%=spin[0].title %></span>
            <span class="songlist-artist"><%=spin[0].artist %></span>
            
            <% case %>
            <% when spin[1] <= (PL::MEDIUM_ROTATION + PL::LIGHT_ROTATION)/2 %>
              <% rotationLevel = 'Light' %>
            <% when spin[1] <= (PL::HEAVY_ROTATION + PL::MEDIUM_ROTATION)/2 %>
              <% rotationLevel = 'Medium' %>
            <% else %>
              <% rotationLevel = 'Heavy' %>
            <% end %>

            <select id="selectBox<%=spin[0].id%>" class="rotationSelect">
              <option value='Heavy' <%='selected' unless (rotationLevel != 'Heavy')%>>Heavy</option>
              <option value='Medium' <%='selected' unless (rotationLevel != 'Medium')%>>Medium</option>
              <option value='Light' <%='selected' unless (rotationLevel != 'Light')%>>Light</option>
            </select>

            <a href="#" class="close" title="delete">×</a>

          </li>
        <% end %> 
      </ul>

    </div>
    <div class="small-5 columns">
      <h4 class="small-headline">Songs</h4>
      <p class="sub-headline">Search our Catalog</p>  
      <input type="text" id="searchbox" placeholder="Enter Title and/or Artist Here"/>

      <ul id="catalog-list" class="song-manager-page">
      </ul>

    </div>
  </div>
</div>

<div class="brown-background">
  <button id='resetStation'>Reset Station</button>
</div>

<!-- JOYRIDE -->
<ol class='joyride-list' id="tour" data-joyride>
  <li data-text="Next" data-button="Next" data-options="prev_button: false">
    <h4>Station Playlist</h4>
    <p>On this page, you can choose which songs to automatically include in your playlist.</p>
  </li>
  <li data-id="spinsPerWeekFieldset" data-button="Next" data-options="tip_location:top;">
    <h4>Song List</h4>
    <p>These are the songs that your station plays.  To remove a song, double-click it or drag it back into the main catalogue.</p>
  </li>

  <li data-class="rotationSelect" data-text="Next" data-prev-text="Prev">
    <h4>Level of Rotation</h4>
    <p>This determines how often the song is played.  Heavy songs are played frequently, light songs are played once or twice per week.</p>
  </li>

  <li data-id="catalog-list" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;">
    <h4>The Catalog</h4>
    <p>This is the list of all available songs. To add a song to your station, just drag it over or double-click it.</p>
  </li>

  <li data-button="Done">
    <h4>Thanks!</h4>
    <p>Thanks for taking the tour!</p>
  </li>
</ol>
