<div class="fixed">
  <div class="contain-to-grid">
    <nav class="top-bar fixed" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Playola <small>fm</small></a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          
          <% if signed_in? == true %>
            <li><%= link_to 'Listen', listens_index_path %></li>
            <li class="has-dropdown">
              <%= link_to 'Broadcast', '#' %>
              <ul class="dropdown">
                <li><%= link_to 'DJ Booth',dj_booth_path %></li>
                <li><%= link_to 'Song Manager', station_song_manager_path %></li>
                <li><%= link_to 'Upload Songs',uploads_new_path %></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <%= link_to ('@' + current_user.twitter), '#' %>
              <ul class="dropdown">
                <li><%= link_to 'Sign Out', session_destroy_path %></li>
              </ul>
            </li>
          
          <% else %>
            <li><%= link_to "Sign In", '/auth/twitter' %></li>
          <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#">About</a></li>
        </ul>
      </section>
    </nav>
  </div>
</div>