<div class='mic-image-inverse'>
  <div class="row top-row">
    <div class="small-8 small-offset-4 columns">
      <div class="row headline">
          <h1 class="title">Station Playlist</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <fieldset id='spinsPerWeekFieldset'>
        <legend>Your Station's Song List</legend>
        <ul id="spinsPerWeekList">
          <% @spins_per_week.each do |spin| %>
            <li data-searchString= "<%= spin[0].title + ' ' + spin[0].artist %>" data-id="<%=spin[0].id%>">
              <span class="songlist-title"><%=spin[0].title %></span>
              <span class="songlist-artist"><%=spin[0].artist %></span>
              
              <% case %>
              <% when spin[1] <= (PL::MEDIUM_ROTATION + PL::LIGHT_ROTATION)/2 %>
                <% rotationLevel = 'Light' %>
              <% when spin[1] <= (PL::HEAVY_ROTATION + PL::MEDIUM_ROTATION)/2 %>
                <% rotationLevel = 'Medium' %>
              <% else %>
                <% rotationLevel = 'Heavy' %>
              <% end %>

              <select id="selectBox<%=spin[0].id%>" class="rotationSelect">
                <option value='Heavy' <%='selected' unless (rotationLevel != 'Heavy')%>>Heavy</option>
                <option value='Medium' <%='selected' unless (rotationLevel != 'Medium')%>>Medium</option>
                <option value='Light' <%='selected' unless (rotationLevel != 'Light')%>>Light</option>
              </select>

            </li>
          <% end %> 
        </ul>

      </fieldset>
    </div>
    <div class="small-6 columns">
      <fieldset id="catalog-fieldset">
        <legend>All Playola Songs</legend>
        <label for="searchbox">Search Text:</label>
        <input type="text" id="searchbox" />

        <ul id="catalog-list">
            <% @all_songs.each do |song| %>
              <li data-searchString= "<%= song.title + ' ' + song.artist %>" data-id="<%= song.id %>" data-echonest_id="<%= song.echonest_id %>" data-artist="<%= song.artist %>" data-title="<%= song.title %>">
                <span class="songlist-title"><%= song.title %></span>
                <span class="songlist-artist"><%= song.artist %></span>
              </li>
            <% end %>
          </table> 
        </ul>
      </fieldset>
    </div>
  </div>
</div>