<div class="mic-image-inverse">
  <div class="row top-row">
    <div class="small-8 small-offset-4 columns">
      <div class="row">
        <div class="small-8 columns">
          <h1 class="title">DJ Booth</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <fieldset id="schedule-fieldset">
        <legend>Station Schedule</legend>
        <ul id="schedule-list" data-firstCurrentPosition="<%= @first_current_position %>"  data-lastCurrentPosition="<%= @program.last.current_position %>">
          <% @program.each do |spin| %>
            <% if spin.is_a?(PL::CommercialBlock) %>
              <li class='commercialBlock disabled'>
                <span class-"songlist-title">Commercial Block</span>
                <span class="songlist-airtime"><%= time_formatter(spin.estimated_airtime) %></span>
              </li>
            <% else %>
              <li class='song' data-currentPosition="<%= spin.current_position %>">
                <span class="songlist-title"><%= spin.audio_block.title %></span>
                <span class="songlist-artist"><%= spin.audio_block.artist %></span>
                <span class="songlist-airtime"><%= time_formatter(spin.estimated_airtime) %></span>
              </li>
            <% end %>
          <% end %> 
        </ul>
      </fieldset>
    </div>
    <div class="small-4 columns">
      <fieldset id="catalog-fieldset">
        <legend>Current Catalog</legend>
        <label for="searchbox">Search Text:</label>
        <input type="text" id="searchbox" />

        <ul id="all-songs-source-list">
          <% @all_songs.each do |song| %>
            <li data-searchString= "<%= song.title + ' ' + song.artist %>" data-id="<%= song.id %>">
              <span class="songlist-title"><%= song.title %></span>
              <span class="songlist-artist"><%= song.artist %></span>
            </li>
          <% end %> 
        </ul>
      </fieldset>
    </div>
  </div>
</div>