<div class="mic-image-inverse">
  <div class="row top-row">

    <div class="container small-8 columns">

      <div class="small-12 columns">
        <fieldset id="nowPlayingFieldset">
          <legend>Now Playing</legend>
  
          <ul id="nowPlayingList">
            <% if @now_playing.audio_block.is_a?(PL::CommercialBlock) %>              
              <li class='nowPlaying commercialBlock'>
                <span class='title'><b>Commercial Block</b></span>
              
            <% elsif @now_playing.audio_block.is_a?(PL::Song) %>
              <li class='nowPlaying song'>
                <span class='title'><%= @now_playing.audio_block.title %></span>
                <span class='artist'><%= @now_playing.audio_block.artist %></span>
            <% elsif @now_playing.is_a?(PL::Commentary) %>
              <span class='title'><b>Commentary</b></span>
            <% end %>
              <div class="progress">
                <span class="meter"></span>
              </div>
              <div class='nowPlayingTimes'>
                <div class='elapsedTime'></div>
                <a class='muteButton' href='#'></a>
                <div class='timeRemaining'></div>
              </div>

            </li>  
          </ul>       
        </fieldset>

        <fieldset id="schedule-fieldset">
          <legend>Station Schedule</legend>

          <ul id="schedule-list" data-firstCurrentPosition="<%= @first_current_position %>"  data-lastCurrentPosition="<%= @program.last.current_position || @program[-2].current_position %>">
            <% @program.each do |spin| %>
              <% if spin.is_a?(PL::CommercialBlock) %>


                <li class='commercialBlock disabled' data-currentPosition="<%= spin.current_position %>">
                  <span class="songlist-title">Commercial Block</span>
                  <span class="songlist-airtime"><%= time_formatter(spin.estimated_airtime) %></span>
                </li>

                
              <% elsif spin.audio_block.is_a?(PL::Song) %>
                <li class='song' data-currentPosition="<%= spin.current_position %>">
                  <span class="songlist-title"><%= spin.audio_block.title %></span>
                  <span class="songlist-artist"><%= spin.audio_block.artist %></span>
                  <span class="songlist-airtime"><%= time_formatter(spin.estimated_airtime) %></span>
                  <a href="#" class="close" title="delete">×</a>
                </li>
                <% else %>
                  <li class='commentary' data-currentPosition="<%= spin.current_position %>">
                    <span class='songlist-title'>Commentary</span>
                    <span class="songlist-artist"><audio controls src="https://s3-us-west-2.amazonaws.com/playolacommentaries/<%=spin.audio_block.key %>"</audio></span>
                    <span class="songlist-airtime"><%= time_formatter(spin.estimated_airtime) %></span>
                    <a href="#" class="close" title="delete">×</a>
                  </li>
              <% end %>
            <% end %> 
          </ul>
        </fieldset>
      </div>
    </div>
        
    <div class="small-4 columns">
      <fieldset id="catalog-fieldset">
        <dl class="tabs" data-tab>
          <dd class="active"><a href="#all-songs-source-container">Catalog</a></dd>
          <dd><a id="record-tab" href="#record">Record</a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="all-songs-source-container">
            <label for="searchbox">Search Text:</label>
            <input type="text" id="searchbox" />

            <ul id="all-songs-source-list">
              <% @all_songs.each do |song| %>
                <li data-searchString= "<%= song.title + ' ' + song.artist %>" data-id="<%= song.id %>">
                  <span class="songlist-title"><%= song.title %></span>
                  <span class="songlist-artist"><%= song.artist %></span>
                </li>
              <% end %> 
            </ul>
          </div>
          <div class="content" id="record">
            <h4>Record</h4>
            <button id="startRecording" class="glyphicon glyphicon-">record</button>
            <button id="stopRecording" disabled="true">stop</button>
            <canvas id="volumeMeter"></canvas>

            <ul id="recording">
              <li class="commentary" opacity="0.3">
              </li>
            </ul>

          </div>
        </div>
      </fieldset>
    </div>

    </div>
  </div>
</div>

<!-- JOYRIDE -->
<ol class='joyride-list' id="tour" data-joyride>
  <li data-text="Next" data-button="Continue" data-options="prev_button: false">
    <h4>Welcome!</h4>
    <p>Welcome to Playola, where we set up a 24-hour-a-day radio station and hand you the controls.  Press Continue to see how it works!</p>
  </li>
  <li data-id="nowPlaying" data-button="Next">
    <h4>Now Playing</h4>
    <p>This is what's currently playing on your station. You can mute the station with the center button.</p>
  </li>

  <li data-id="schedule-list" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;">
    <h4>The Queue</h4>
    <p>This is the schedule of songs that are about to play on your station.</p>
  </li>

  <li data-class="ui-sortable-handle:first" data-text="Next" data-prev-text="Prev">
    <h4>Change the Spin Order</h4>
    <p>Change the order of songs by grabbing the song with your mouse, and dragging it up or down. Times and commercials will automatically adjust.</p>
  </li>

  <li data-class="close:first" data-button="Next" data-prev-text="Prev">
    <h4>Remove a Spin</h4>
    <p>Remove a song from the queue by clicking on the 'x'.</p>
  </li>

  <li data-id="all-songs-source-list" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;">
    <h4>Catalogue</h4>
    <p>Search our catalogue of songs here.  You can add any song to the queue by dragging it in with your mouse.</p>
  </li>

  <li data-id="record-tab" data-button="Continue" data-options="tip_location:left;">
    <h4>Voice-Tracking</h4>
    <p>In Chrome and Firefox you can record commentary, then drag it right into the setlist for DJ voiceovers.</p>
  </li>

  <li data-button="Done">
    <h4>Thanks!</h4>
    <p>Thanks for taking the tour! Happy broadcasting!</p>
  </li>
</ol>
