<div class="wall-without-mic-image">

  <!-- Reveal Modals begin -->
  <%= content_tag "div", id: "getUserInfoModal", class: "reveal-modal medium", data: { options: 'close_on_background_click:false;',userInfoComplete: @user_info_complete, reveal: true } do %>
    
    <h1>Big Brother Playola</h1>
    <h3>Would Like to Know 3 Things About You.</h3>
    <form data-abide id='userInfo'> 
    <fieldset>    
      <div class="small-4 columns">
        <label for="birthYear" class="right">Birth Year
          <%= select_year Date.today, :start_year => 2009, :end_year => 1900, :class =>"small-9 columns", :prompt => 'Select Birth Year'  %>
          <small class="error">Please Tell Us Your Birth Year</small>
        </label>
      </div>

      <div class="small-4 columns">
        <label for="gender" class="right" placeholder="Gender">Gender
          <select id="gender" placeholder="Gender" required>
            <option value=''>Select Gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
          <small class="error">Please Tell Us Your Gender</small>
        </label>
      </div>
      <div class="small-4 columns">
        <label for="zipcode">Zipcode
          <input id="zipcode" required type="text" pattern="zipcode" placeholder="Enter Zipcode">
          <small class="error">Please Type a Valid Zipcode</small>
        </label>
      </div>
    </fieldset>
    <div class="row">
      <p><a data-reveal-id="why" id="why" href="#">Here's Why We Want this Info</a></p>
    </div>
      <div class="row">
        <button type="submit">Take My Info, Evil Corporation</button>
      </div>
    </form>

  <% end %>




  <div id="why" class="reveal-modal" data-options="close_on_background_click:false" data-reveal>
    <h2>Why Do We Need To Know This Stuff?</h2>
    <dl>
      <dt>Birth Year and Gender</dt>
      <dd>So that we can charge more for your advertising time, making more money with less commercials, and in turn passing more money on to songwriters, musicians, and Playola users like you.</dd>
      <dt>Zipcode</dt>
      <dd>So that we can match local listeners to local stations</dd>
    </dl>

    <a data-reveal-id="getUserInfoModal"class="close-reveal-modal">&#215;</a>
  </div>

  <%= content_tag "div", id: "getStationInfoModal", class: "reveal-modal medium", data: { stationInfoComplete: @station_info_complete, reveal: true } do %>
    
    <div class="row">
      <%= form_tag(station_create_path, :id => 'getArtists', :method => 'post') do %>
      <h1>Create Your Station</h1>
      
        <fieldset>
          <legend>  Enter up to 5 Artists That You Enjoy</legend>
          <div class="small-6 columns">
            <input class="small-6 columns" type="text" id="artist0" name="artist[0]" placeholder="Artist1">
          </div>
          <div class="small-6 columns">
            <input class="small-6 columns" type="text" name="artist[1]" placeholder="Artist2">
          </div>
            <div class="small-6 columns">
              <input type="text" name="artist[2]" placeholder="Artist3">
            </div>
            <div class ="small-6 columns">
              <input type="text" name="artist[3]" placeholder="Artist4">
            </div>
            <div class ="small-6 columns left">
              <input type="text" name="artist[4]" placeholder="Artist5">
            </div>
        </fieldset>
    
        <div class="row">
          <div class="large-12 large-centered columns">
            <ul class="button-group even-3">
              <li><a href='#' class="button" id="manualStationCreate">Create Manually</a><p>I want to carefully pick each song</li>
              <li><a href='#'class="button" id="automaticStationCreate">Create Automatically</a><p>I just want to get going</p></li>
              <li><%= link_to "Upload Songs", uploads_new_path, :class => "button" %><p>Let Me Upload Some Songs First</p></li>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="row hide" id="creating">
        <h1>Creating Your Station...</h1>
        <p>This may take a few seconds</p>
      </div>
      
    </div>

  <% end %>

  <!-- END MODALS  -->
  <!-- BEGIN PLAYLIST_PAGE -->
</div>